### List Python Project
### Problem Statement: 📝📝

* ***🎓🎓 Analytics Vidhya conducted an assessment test to hire a Data Scientist. The candidates were evaluated on 5 different subject `A`, `B`, `C`, `D`, and `E`. 🎓🎓 The marks of 5 different subjects out of 100 are given below. Help Analytics Vidhya to find out the answers of the following question.***

📍📍

   * 🙇 Who scored the highest marks in the subject B?

In [ ]:
# student marks
student_marks = [['Name',  ['A','B','C','D','E']],
                 ['Ankit',  [41, 34, 45, 55, 63]],
                 ['Aravind',[42, 23, 34, 44, 53]],
                 ['Lakshay',[32, 23, 13, 54, 67]],
                 ['Gyan',   [23, 82, 23, 63, 34]],
                 ['Pranav', [21, 23, 25, 56, 56]]
                ]

In [ ]:
# my solution

x = []
y = []

for lst in student_marks:
    x.append(lst[1][1])
    y.append(lst[0])

x = x[1:]
y = y[1:]

y[x.index(max(x))]

In [ ]:
# alternative solution

student_names_and_marks_B = []

for i in student_marks[1:]:
    nme = i[0]
    mrks_B = i[1][1]
    student_names_and_marks_B.append([mrks_B, nme])
print(sorted(student_names_and_marks_B)[-1][1])

In [ ]:
#student_marks[1][1].count(45)

###### Tuples -- immutable, ordered -- (tuple) -- index, count, slice... 
###### Sets -- mutable, unordered, unique -- set operations possible...

In [ ]:
my_set = {1,1,5,5,7,9,6,23,87,8,95,4,8,8,5,8,7,5,89,459,4599,456,46554,444}

In [ ]:
# adding elements in a set > add, update(multiple values)

my_set.add('Fav')

In [ ]:
my_set

In [ ]:
# removing elements from a set > discard, remove(gives an error if value is not present, as opposed to discard)

my_set.discard(444)

## Set Theory operations on sets

* Difference - elements of set1 not present in set2
* Intersection - common elements
* isdisjoint - disjoint sets are those whose intersection set is an empty set
* issubset - set1 is fully contained in set2
* issuperset - set2 is fully contained in set1
* union - all elements in both sets

In [ ]:
set_1 = {1,2,4,6,7,8,10}
set_2 = {1,3,5,6,7,'B'}

In [ ]:
set_1.difference(set_2) # elements in set 1 which are not part of set 2
# will not update the original set and can be assigned to a new variable
# use difference_update to update set1 with the result

In [ ]:
set_1.isdisjoint(set_2)

In [ ]:
lstt = [1,2,3,4,4,4,4,4,5]

In [ ]:
set(lstt)

In [ ]:
lstt2 = [
    [1,2,3,4,5],
    [3,4,6,8,8],
    [3,5,6,2,4]
]

In [ ]:
lstt2

In [ ]:
import numpy as np

In [ ]:
x = np.random.randint(11, 23, [5, 4])

In [ ]:
x

In [ ]:
lstt2

In [ ]:
set(lstt2[0]).intersection(set(lstt2[2]))

In [ ]:
# converting np array to list

x.tolist()