In [2]:
# using lambda with the filter function
# sort, filter, reduce, map

In [3]:
original_list = [5,12,34,18,17]
list(filter(lambda x: x%2 != 0, original_list))

[5, 17]

In [4]:
list(filter(lambda s: s%5 == 0, original_list))

[5]

In [7]:
tst = ['Suminder Singh', 'Manju Singh', 'Ujjwal Seth', 'Tahera Fatima', 'Saheb Bedi', 'Soon Juk Thao']

In [15]:
lt = list(filter(lambda x: x[0].lower() == 's', tst))

In [29]:
# used lambda function with filter to pass a filtered list of people with name starting with 's', then used another lambda to sort by first letter of the last name
sorted(filter(lambda x: x[0].lower() == 's', tst), key = lambda s: s.split(' ')[-1][0].lower(), reverse = False)

['Saheb Bedi', 'Suminder Singh', 'Soon Juk Thao']

#### Map

In [30]:
list(map(lambda c: c**2, original_list))

[25, 144, 1156, 324, 289]

In [31]:
# using the map function using lambda to pass squares of a list and then another lambda to define key for sorting which is last digit of each number in the list
sorted(map(lambda f: f**2, original_list), key = lambda x: str(x)[-1], reverse = False)

[144, 324, 25, 1156, 289]

In [32]:
# pass names starting with 's' and then make all names lower case and then sort reverse by last name
sorted(map(lambda x: x.lower(), filter(lambda y: y[0].lower() == 's', tst)), key = lambda f: f.split(' ')[-1][0].lower(), reverse = True)

['soon juk thao', 'suminder singh', 'saheb bedi']

#### Reduce
* import from functools
* takes pairs as arguement, performs the function stated in pairs in sequence
* abcde <- func frist performed on a,b... then the result forms a pair with c and so on

In [33]:
from functools import reduce

In [34]:
tst = [1,2,3,4,5,6,7,8,9]

In [37]:
cumulative_sum = reduce(lambda x,y: x+y, tst)

In [38]:
cumulative_sum

45

In [39]:
max_number = reduce(lambda a,b: a if a>b else b, tst)

In [40]:
max_number

9

In [41]:
max(tst)

9