# Module: ML Basics to Pro
_____________________________________________________

In [ ]:
for char in 'analytics vidhya':
    print(char)

### Nested Loops
total iterations = outer loop iterations * inner loop iterations

In [ ]:
for i in range(3):
    for char in 'ABC':
        print(1, char)

In [ ]:
# pre-assigned var loop

number = 0

for number in range(10):
    print(number)
    if number == 7:
        break

In [ ]:
password = 'data'

for i in range(1, 6):
    
    if i == 5:
        print('last try bastard!')
        
    entered_pass = input(prompt = 'Enter your stupid password: ')
    
    if entered_pass == password:
        print('Entry granted, your dumbness!')
        break
    elif (entered_pass != password) and i==5:
        print('Wrong! You are out!')
    else:
        print('Wrong!')

In [ ]:
for i in range(10):
    
    if i == 6:
        continue
    
    print('Number: ' + str(i))
    
print('out of loop')

#### OTP program, 4th try should say 'last try', when correct OTP entered it should ask for further details

In [ ]:
# format 1

OTP = 1232

for chance in range(5):
    
    usr_otp = int(input('Enter OTP: '))
    
    if usr_otp == OTP:
        print('Correct Password!')
        usr_name = input('Enter your name: ')
        usr_city = input('Enter your city: ')
        print(f'{usr_name.title()} from {usr_city.title()}. You are in!')
        break
    
    elif (usr_otp != OTP) and chance == 3:
        print('Last Chance!')
    
    elif (usr_otp != OTP) and chance == 4:
        print('You are out!')
    
    else:
        continue

In [ ]:
# format 2

OTP = 1232

for i in range(5):
    
    if i == 4:
        print('last try!')
    
    usr_pass = input('Enter OTP: ')
    
    if  usr_pass == str(OTP):
        input('Enter name: ')
        input('Enter city: ')
        break
    
    else:
        print('OTP Wrong!')

In [ ]:
# format 3

OTP = 1232

for i in range(5):
    
    if i == 4:
        print('last try!')
    
    usr_pass = input('Enter OTP: ')
    
    if usr_pass != str(OTP):
        print('OTP Wrong!')
        continue
    else:
        input('Enter name: ')
        input('Enter city: ')
        break

#### JUMP STATEMENTS

* pass - used as a placeholder, does not and lets the loop go on
* continue - skips that iteration of the loop
* break - breaks loop

### Lists

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,0]

my_list[::]

In [ ]:
my_list[::-1] # reverse list using index

##### List operations
* Adding elements to a list > extend, append, insert
* Membership operators > in ... in can be used with the not operator to check membership

In [ ]:
8 in my_list

In [ ]:
8 not in my_list

In [ ]:
my_list.extend([4,5])

In [ ]:
my_list

In [ ]:
my_list.append([4,5])

In [ ]:
my_list

In [ ]:
my_list.insert(2, 'py')

In [ ]:
my_list

In [ ]:
my_list.remove('py') # remove particular element

In [ ]:
my_list

In [ ]:
del my_list[0] # remove element basis index

In [ ]:
my_list

In [ ]:
lst = [4,1,5,6]

In [ ]:
lst.sort() # sorts existing list in place

In [ ]:
lst

In [ ]:
sorted(lst, reverse=True) # sorting elements in a list, original list stays as is

In [ ]:
lst

In [ ]:
len(lst) # length

### List Project in Python

In [ ]:
student_marks = [['Name',  ['A','B','C','D','E']],
                 ['Ankit',  [41, 34, 45, 55, 63]],
                 ['Aravind',[42, 23, 34, 44, 53]],
                 ['Lakshay',[32, 23, 13, 54, 67]],
                 ['Gyan',   [23, 82, 23, 63, 34]],
                 ['Pranav', [21, 23, 25, 56, 56]]
                ]

In [ ]:
x = []
y = []

for lst in student_marks:
    x.append(lst[1][1])
    y.append(lst[0])

x = x[1:]
y = y[1:]

y[x.index(max(x))]