#### Lambda Functions/Expressions
- can have multiple arguements but one expression
- when function task is small, it is more efficient to use lambda
- avoid lambda functions when task is complex
- do not have to define a return statement, lambda automatically assumes return

In [5]:
def add(a):
    return a + 20
add(5)

25

#### Socratica
< https://www.youtube.com/watch?v=25ovCm9jKfA >

- Anonymous Functions = Lambda Expressions
- One odd use... use and throw function
- Can have 0 or more arguements
- Common applications are sorting and filtering data

In [22]:
def f(x):
    return 3*x + 1

In [23]:
f(2)

7

In [24]:
lambda x: 3*x + 1

In [25]:
g = lambda x: 3*x + 1
g(2)

7

In [26]:
# combine first and last names using lambda

In [27]:
#lambda version

full_name = lambda fname, lname: fname.strip().title() + ' ' + lname.strip().title()

In [28]:
full_name('Suminder', 'Singh')

'Suminder Singh'

In [29]:
#regular function

def fname(first_name, last_name):
    return f'{first_name.strip().title()} {last_name.strip().title()}'

In [30]:
fname('Suminder', 'Singh')

'Suminder Singh'

In [34]:
# sort list of names by last name

names = ['Suminder Singh', 'deepinder kaur', 'MANIL MITTAL', 'Ujjwal Seth', 'Gursharan Singh', 'Surjit kaur']

In [38]:
names.sort(key = lambda name: name.split (" ")[-1].lower())

In [39]:
names

['Surjit kaur',
 'deepinder kaur',
 'MANIL MITTAL',
 'Ujjwal Seth',
 'Gursharan Singh',
 'Suminder Singh']

In [40]:
# Function that makes functions
# example: quadratic function

In [44]:
def build_quad_functions(a, b, c):
    """returns the function f(x) = a*x**2 + b*x + c"""
    return lambda x: a*x**2 + b*x + c

In [45]:
build_quad_functions(2,3,5)(1)

10

In [46]:
 test = build_quad_functions(2,3,5)
 test(1)

10

#### Telusko
<https://www.youtube.com/watch?v=hYzwCsKGRrg>

In [5]:
def square_num(x):
    return x*x

print(square_num(2))

sqr = lambda x: x*x
sqr(2)

4

4

In [2]:
# AV BB

In [3]:
list_1 = [2,3,4,1,4,5,6,43,4,45,1,223,46,111,56]

In [4]:
def normal_even(x):
    if x%2 == 0:
        return True
    else:
        return False

In [5]:
filtered_list = list(filter(normal_even, list_1))
filtered_list

[2, 4, 4, 6, 4, 46, 56]

In [6]:
filtered = list(filter(lambda x: (x%2 ==0), list_1))
filtered

[2, 4, 4, 6, 4, 46, 56]

#### Corey Schafer - sorting in lists, tuples, dicts

In [7]:
filtered.sort()

In [8]:
filtered

[2, 4, 4, 4, 6, 46, 56]

In [17]:
# sort function applies to only lists, does it inplace
# sorted - needs to assigned to a new var, works with any iterable

In [16]:
# using the 'key' arguement in the 'sorted' function

li = [-3, -2, -4, -7, 2, 1, 3, 5, 6]

# noinspection PyTypeChecker 
# disregard pytypechecker sentence

li.sort(key = abs, reverse = True) 
# here the key aruguement is a function which will be run on each element before sorting
li

[-7, 6, 5, -4, -3, 3, -2, 2, 1]

In [22]:
# understanding the 'key' parameter

class Employee:

    def __init__(self, fname, lname, pay):
        self.first = fname
        self.last = lname
        self.salary = pay

emp_tst = Employee('Sam', 'SS', '100000')
emp_tst
emp_tst.first

'Sam'

In [23]:
class Employee:

    def __init__(self, fname, lname, pay):
        self.first = fname
        self.last = lname
        self.salary = pay

    def __repr__(self):
        return '({}, {}, ${})'.format(self.first, self.last, self.salary)

In [24]:
emp_1 = Employee('Suminder', 'Singh', 125000)

In [26]:
emp_1
# the '__repr__' class function suggests how to represent a class Employee's object when called

(Suminder, Singh, $125000)

In [45]:
# Using key to sort 3 different class employee objects in a list

emp_1 = Employee('Suminder', 'Singh', 125000)
emp_2 = Employee('Corey', 'Schafer', 100000)
emp_3 = Employee('Manil', 'Mittal', 89000)

lstt = [emp_1, emp_2, emp_3]

In [46]:
sorted_lstt = sorted(lstt) # this will return an error since it doenst know how to sort this employee object

TypeError: TypeError: '<' not supported between instances of 'Employee' and 'Employee'

In [49]:
def e_sort(x):
    return x.first
# here x can be called anything, just stands for individual elements that will be passed for evaluation before sorting

sorted_lstt = sorted(lstt, key = e_sort)
# can further use reverse param to define sort order

In [50]:
sorted_lstt # sorted by first name attribute of class employee

[(Corey, Schafer, $100000),
 (Manil, Mittal, $89000),
 (Suminder, Singh, $125000)]

In [51]:
# using lambda function to achieve the same thing

sorted_lstt = sorted(lstt, key = lambda x: x.first)
sorted_lstt

[(Corey, Schafer, $100000),
 (Manil, Mittal, $89000),
 (Suminder, Singh, $125000)]

In [52]:
sorted_lstt = sorted(lstt, key = lambda x: x.first, reverse = True)
sorted_lstt

[(Suminder, Singh, $125000),
 (Manil, Mittal, $89000),
 (Corey, Schafer, $100000)]

In [54]:
# attribute getter OR attrgetter - can fetch a class attribute
# import using the operator module

In [56]:
from operator import attrgetter

sorted_lstt_test = sorted(lstt, key = attrgetter('last'))

sorted_lstt_test

[(Manil, Mittal, $89000),
 (Corey, Schafer, $100000),
 (Suminder, Singh, $125000)]

In [58]:
sorted_lstt_test2 = sorted(lstt, key = attrgetter('last'), reverse=True)

sorted_lstt_test2

[(Suminder, Singh, $125000),
 (Corey, Schafer, $100000),
 (Manil, Mittal, $89000)]

In [59]:
# resume AV BB
# contd in part 6