### Module: Reading files with Python

##### CSV

In [4]:
import pandas as pd
pd.__version__
pd.options.display.max_columns = 20

In [5]:
data = pd.read_csv('big_mart_sales.csv')

In [6]:
data.shape

(8523, 12)

In [7]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [9]:
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [10]:
data_with_comments = pd.read_csv('big_mart_sales_top_row_error.csv', skiprows = 5)

In [13]:
data_with_comments

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [14]:
import glob

In [15]:
for folder in glob.glob('multi-directory/*'):
    print(folder)

multi-directory/2004
multi-directory/2002
multi-directory/1987
multi-directory/2009
multi-directory/1998
multi-directory/1999
multi-directory/2007
multi-directory/1985
multi-directory/1997

In [20]:
list_of_df = []
for folder in glob.glob('multi-directory/*'):
    for file in glob.glob(folder + '/*'):
        df = pd.read_csv(file)
        list_of_df.append(df)
combined_df = pd.concat(list_of_df)

In [23]:
len(list_of_df)

9

In [24]:
combined_df

,Unnamed: 0,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,19,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
1,22,NCB30,14.600,Low Fat,0.025698,Household,196.5084,OUT035,2004,Small,Tier 2,Supermarket Type1,1587.2672
2,26,FDV10,7.645,Regular,0.066693,Snack Foods,42.3112,OUT035,2004,Small,Tier 2,Supermarket Type1,1065.2800
3,66,FDH19,19.350,Low Fat,0.033082,Meat,172.5738,OUT035,2004,Small,Tier 2,Supermarket Type1,4865.6664
4,86,FDZ55,6.055,Low Fat,0.025404,Fruits and Vegetables,160.9920,OUT035,2004,Small,Tier 2,Supermarket Type1,2716.4640
...,...,...,...,...,...,...,...,...,...,...,...,...,...
925,8450,FDC28,7.905,Low Fat,0.054987,Frozen Foods,108.6254,OUT046,1997,Small,Tier 1,Supermarket Type1,1844.9318
926,8461,FDB17,13.150,Low Fat,0.036672,Frozen Foods,182.5976,OUT046,1997,Small,Tier 1,Supermarket Type1,4165.2448
927,8492,FDT34,9.300,Low Fat,0.174350,Snack Foods,104.4964,OUT046,1997,Small,Tier 1,Supermarket Type1,2419.5172
928,8517,FDF53,20.750,reg,0.083607,Frozen Foods,178.8318,OUT046,1997,Small,Tier 1,Supermarket Type1,3608.6360
929,8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [25]:
combined_df.to_csv('saved_combined.csv', index = False)

In [28]:
data_tsv = pd.read_csv('big_mart_sales_delimiter.csv', delimiter='\t')

In [33]:
data_tsv.shape

(101, 12)

In [31]:
# nrows, usecols, skiprows <- some important arguements we can use when reading csv files

In [37]:
combined_df.shape

(8523, 13)

In [41]:
combined_df.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            920, 921, 922, 923, 924, 925, 926, 927, 928, 929],
           dtype='int64', length=8523)

In [45]:
rows_count = combined_df.shape[0]
def read_through(n):
    counter = 0
    list_of_df = []
    for i in range(rows_count/n):
        chunk = pd.read_csv('big_mart_sales.csv', nrows = n, skiprows = counter)
        list_of_df.append(chunk) 
        counter += n
    return pd.concat(list_of_df)

In [46]:
x = read_through(100)

TypeError: TypeError: 'float' object cannot be interpreted as an integer