#### Manipulating data in pandas
* in ML we convert categorical variables to binary called hot not coding
* each value in a categorical variable gets to have a binary column of its own
* eg. Gender column with Male and Female can be split into two columns - is_male and is_female with binary values of its own

In [76]:
import pandas as pd
df = pd.read_csv('/home/noor/Dropbox/Python Sessions/big_mart_sales.csv')

In [77]:
df.head(3)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700

In [78]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [79]:
df.loc[df.Item_Weight.isnull() == True, 'Item_Weight'] = df.Item_Weight.mean()

In [80]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [81]:
df.Outlet_Size.value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [82]:
df.Outlet_Size.isnull().sum()

2410

In [83]:
df.shape

(8523, 12)

In [84]:
df.Outlet_Size.mode()

0    Medium
dtype: object

In [85]:
df.loc[df.Outlet_Size.isna() == True, 'Outlet_Size'] = 'Medium'

In [86]:
df.Outlet_Size.value_counts()

Medium    5203
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [87]:
df_t = pd.read_csv('/home/noor/Dropbox/Python Sessions/big_mart_sales.csv')

In [88]:
df_t.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [91]:
df_t.Item_Weight.fillna(df_t.Item_Weight.mean(), inplace=True)

In [92]:
df_t.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [94]:
df_t.Item_Weight.mode()

0    12.857645
dtype: float64

In [95]:
df_t.Outlet_Size.fillna('Medium', inplace=True)

In [96]:
df_t.Item_Fat_Content.value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [98]:
df_t.Item_Fat_Content.map({'Low Fat' : 'LF', 'LF' : 'LF', 'low fat' : 'LF', 'Regular' : 'R', 'reg' : 'R'}).value_counts()

LF    5517
R     3006
Name: Item_Fat_Content, dtype: int64

In [100]:
df_t.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [102]:
df_t['USD'] = df_t.Item_MRP/74

In [103]:
df_t.USD.head()

0    3.375800
1    0.652286
2    1.913757
3    2.460743
4    0.727857
Name: USD, dtype: float64

In [105]:
df.loc[:,'Item_MRP'].apply(lambda x: x/74 + 1.28)

0       4.655800
1       1.932286
2       3.193757
3       3.740743
4       2.007857
          ...
8518    4.178943
8519    2.741581
8520    2.430303
8521    2.673692
8522    2.299824
Name: Item_MRP, Length: 8523, dtype: float64

* in ML we convert categorical variables to binary called hot not coding
* each value in a categorical variable gets to have a binary column of its own
* eg. Gender column with Male and Female can be split into two columns - is_male and is_female with binary values of its own

In [107]:
df_t.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales', 'USD'],
      dtype='object')

In [111]:
pd.get_dummies(df_t.select_dtypes('object'))

,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,Item_Identifier_DRB24,Item_Identifier_DRB25,Item_Identifier_DRB48,Item_Identifier_DRC01,Item_Identifier_DRC12,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,1,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
8519,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
8520,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
8521,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
8522,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0

##### previously learnt - reduce function - runs on pairs of members of an iterable

In [112]:
import functools

In [113]:
lis = [1, 3, 5, 6, 2, ]

In [116]:
functools.reduce(lambda a,b: a if a>b else b, lis)

6

In [122]:
df_t.loc[df_t['Outlet_Location_Type'] == 'Tier 1', 'Outlet_Establishment_Year'].value_counts()

1997    930
1999    930
1985    528
Name: Outlet_Establishment_Year, dtype: int64