In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [91]:
# access data using base python library, pandas (can also use zip)

In [2]:
import csv

In [3]:
with open('extract.csv') as f:
    csv_reader = csv.DictReader(f, )
    row = next(csv_reader)
    print(row)

{'': '0', 'Respondent': '1', 'LanguageWorkedWith': 'HTML/CSS;Java;JavaScript;Python'}

In [4]:
extract_df = pd.read_csv('extract.csv')

In [6]:
extract_df.set_index(extract_df.Respondent, drop=True, inplace=True)

In [7]:
extract_df.head(3)

            Unnamed: 0  Respondent               LanguageWorkedWith
Respondent
1                    0           1  HTML/CSS;Java;JavaScript;Python
2                    1           2              C++;HTML/CSS;Python
3                    2           3                         HTML/CSS

In [8]:
extract_df.drop(columns=['Respondent', 'Unnamed: 0'], inplace=True)

In [9]:
extract_df.head(3)

                         LanguageWorkedWith
Respondent
1           HTML/CSS;Java;JavaScript;Python
2                       C++;HTML/CSS;Python
3                                  HTML/CSS

In [10]:
extract_df.to_csv('extract_redone.csv')

In [11]:
with open('extract_redone.csv') as f:
    print(next(csv.DictReader(f)))

{'Respondent': '1', 'LanguageWorkedWith': 'HTML/CSS;Java;JavaScript;Python'}

In [12]:
x = csv.reader('extract_redone.csv')

In [18]:
with open('extract_redone.csv') as file:
    reader = csv.DictReader(file)
    row = next(reader)
    print(row['LanguageWorkedWith'].split(';'))

['HTML/CSS', 'Java', 'JavaScript', 'Python']

In [20]:
with open('extract_redone.csv') as f:
    reader = csv.DictReader(f)
    row = next(reader)
    print(row['LanguageWorkedWith'].split(';'))

['HTML/CSS', 'Java', 'JavaScript', 'Python']

In [23]:
extract_df.LanguageWorkedWith.str.split(';', expand=True)

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
Respondent,,,,,,,,,,,,,,,,,,,,,
1,HTML/CSS,Java,JavaScript,Python,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,C++,HTML/CSS,Python,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,HTML/CSS,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,C,C++,C#,Python,SQL,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,C++,HTML/CSS,Java,JavaScript,Python,SQL,VBA,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88377,HTML/CSS,JavaScript,Other(s):,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
88601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88863,Bash/Shell/PowerShell,HTML/CSS,Java,JavaScript,PHP,SQL,Swift,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [24]:
extract_df

                                           LanguageWorkedWith
Respondent
1                             HTML/CSS;Java;JavaScript;Python
2                                         C++;HTML/CSS;Python
3                                                    HTML/CSS
4                                         C;C++;C#;Python;SQL
5                 C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
...                                                       ...
88377                           HTML/CSS;JavaScript;Other(s):
88601                                                     NaN
88802                                                     NaN
88816                                                     NaN
88863       Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...

[88883 rows x 1 columns]

In [25]:
from collections import Counter

In [26]:
c = Counter(['Python', 'JavasSript'])

In [28]:
c.update(['C++', 'Python'])

In [29]:
c

Counter({'Python': 2, 'JavasSript': 1, 'C++': 1})

In [30]:
c.update(['HTML', 'Python'])

In [31]:
c

Counter({'Python': 3, 'JavasSript': 1, 'C++': 1, 'HTML': 1})

In [38]:
with open('extract_redone.csv') as f:
    lang_counter = Counter()
    reader = csv.DictReader(f)
    for i in reader:
        row = i['LanguageWorkedWith'].split(';')
        lang_counter.update(row)
    print(lang_counter)

Counter({'JavaScript': 59219, 'HTML/CSS': 55466, 'SQL': 47544, 'Python': 36443, 'Java': 35917, 'Bash/Shell/PowerShell': 31991, 'C#': 27097, 'PHP': 23030, 'C++': 20524, 'TypeScript': 18523, 'C': 18017, 'Other(s):': 7920, 'Ruby': 7331, 'Go': 7201, 'Assembly': 5833, 'Swift': 5744, 'Kotlin': 5620, 'R': 5048, 'VBA': 4781, 'Objective-C': 4191, 'Scala': 3309, 'Rust': 2794, 'Dart': 1683, '': 1314, 'Elixir': 1260, 'Clojure': 1254, 'WebAssembly': 1015, 'F#': 973, 'Erlang': 777})

In [39]:
lang_counter

Counter({'HTML/CSS': 55466,
         'Java': 35917,
         'JavaScript': 59219,
         'Python': 36443,
         'C++': 20524,
         'C': 18017,
         'C#': 27097,
         'SQL': 47544,
         'VBA': 4781,
         'R': 5048,
         'Bash/Shell/PowerShell': 31991,
         'Ruby': 7331,
         'Rust': 2794,
         'TypeScript': 18523,
         'WebAssembly': 1015,
         'Other(s):': 7920,
         'Go': 7201,
         'PHP': 23030,
         'Assembly': 5833,
         'Kotlin': 5620,
         'Swift': 5744,
         '': 1314,
         'Objective-C': 4191,
         'Elixir': 1260,
         'Erlang': 777,
         'Clojure': 1254,
         'F#': 973,
         'Scala': 3309,
         'Dart': 1683})

In [55]:
df = pd.DataFrame.from_dict(lang_counter, orient='index').reset_index().rename(columns={'index':'Language', 0:'Count'})

In [73]:
df.head(3)

     Language  Count
0    HTML/CSS  55466
1        Java  35917
2  JavaScript  59219

In [71]:
df2 = pd.DataFrame([i for i in lang_counter.items()]).rename(columns={0:'Language', 1:'Count'})

In [72]:
df2.head(3)

     Language  Count
0    HTML/CSS  55466
1        Java  35917
2  JavaScript  59219

In [84]:
df3 = pd.DataFrame.from_records([i for i in lang_counter.items()], columns=['Language', 'Count'])

In [85]:
df3.head(3)

     Language  Count
0    HTML/CSS  55466
1        Java  35917
2  JavaScript  59219

In [86]:
lang_counter.most_common(15)

[('JavaScript', 59219),
 ('HTML/CSS', 55466),
 ('SQL', 47544),
 ('Python', 36443),
 ('Java', 35917),
 ('Bash/Shell/PowerShell', 31991),
 ('C#', 27097),
 ('PHP', 23030),
 ('C++', 20524),
 ('TypeScript', 18523),
 ('C', 18017),
 ('Other(s):', 7920),
 ('Ruby', 7331),
 ('Go', 7201),
 ('Assembly', 5833)]

In [87]:
languages = []
popularity = []

for item in lang_counter.most_common(15):
    languages.append(item[0])
    popularity.append(item[1])

In [88]:

print(languages)

['JavaScript', 'HTML/CSS', 'SQL', 'Python', 'Java', 'Bash/Shell/PowerShell', 'C#', 'PHP', 'C++', 'TypeScript', 'C', 'Other(s):', 'Ruby', 'Go', 'Assembly']

In [89]:

print(popularity)

[59219, 55466, 47544, 36443, 35917, 31991, 27097, 23030, 20524, 18523, 18017, 7920, 7331, 7201, 5833]

In [90]:
df.nlargest(15, 'Count')

                 Language  Count
2              JavaScript  59219
0                HTML/CSS  55466
7                     SQL  47544
3                  Python  36443
1                    Java  35917
10  Bash/Shell/PowerShell  31991
6                      C#  27097
17                    PHP  23030
4                     C++  20524
13             TypeScript  18523
5                       C  18017
15              Other(s):   7920
11                   Ruby   7331
16                     Go   7201
18               Assembly   5833