In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/home/noor/Dropbox/Python Sessions/code_snippets-master/Python/Pandas/10-Datetime-Timeseries/ETH_1h.csv')

In [4]:
df.head()

               Date  Symbol    Open    High     Low   Close      Volume
0  2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1  2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2  2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3  2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4  2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71

In [5]:
df.dtypes

Date       object
Symbol     object
Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object

In [6]:
df.loc[0, 'Date']

'2020-03-13 08-PM'

In [7]:
df.loc[0, 'Date'].day_name()

AttributeError: 'str' object has no attribute 'day_name'

In [ ]:
df['Date'] = pd.to_datetime(df['Date'], format = '%Y-%m-%d %I-%p')

In [ ]:
df.head(3)

                 Date  Symbol    Open    High     Low   Close      Volume
0 2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1 2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2 2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81

In [ ]:
df.loc[0, 'Date'].day_name()

'Friday'

In [ ]:
df = pd.read_csv('/home/noor/Dropbox/Python Sessions/code_snippets-master/Python/Pandas/10-Datetime-Timeseries/ETH_1h.csv', parse_dates = ['Date'], date_parser = lambda x: pd.datetime.strptime(x, '%Y-%m-%d %I-%p'))

<ipython-input-19-c515a87889a5>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  df = pd.read_csv('/home/noor/Dropbox/Python Sessions/code_snippets-master/Python/Pandas/10-Datetime-Timeseries/ETH_1h.csv', parse_dates = ['Date'], date_parser = lambda x: pd.datetime.strptime(x, '%Y-%m-%d %I-%p'))

In [ ]:
df.head(3)

                 Date  Symbol    Open    High     Low   Close      Volume
0 2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1 2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2 2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81

In [ ]:
import datetime

In [ ]:
df.Date.dt.day_name() 
#using the dt class is much like using the str class when using str methods

0          Friday
1          Friday
2          Friday
3          Friday
4          Friday
           ...
23669    Saturday
23670    Saturday
23671    Saturday
23672    Saturday
23673    Saturday
Name: Date, Length: 23674, dtype: object

In [ ]:
df['Dayofweek'] = df.Date.dt.day_name()

In [ ]:
df.head(3)

,Date,Symbol,Open,High,Low,Close,Volume,Dayofweek
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday

In [ ]:
df['Date'].min()

Timestamp('2017-07-01 11:00:00')

In [ ]:
df.Date.max()

Timestamp('2020-03-13 20:00:00')

In [ ]:
df.Date.median()

Timestamp('2018-11-06 15:30:00')

In [ ]:
df.Date.max() - df.Date.min()

Timedelta('986 days 09:00:00')

In [ ]:
df.loc[df.Date >= '2020'].head(3)

,Date,Symbol,Open,High,Low,Close,Volume,Dayofweek
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday

In [ ]:
df.loc[(df.Date < '2020') & (df.Date >= '2019')].head(3)

,Date,Symbol,Open,High,Low,Close,Volume,Dayofweek
1749,2019-12-31 23:00:00,ETHUSD,128.33,128.69,128.14,128.54,440678.91,Tuesday
1750,2019-12-31 22:00:00,ETHUSD,128.38,128.69,127.95,128.33,554646.02,Tuesday
1751,2019-12-31 21:00:00,ETHUSD,127.86,128.43,127.72,128.38,350155.69,Tuesday

In [ ]:
df.loc[(df.Date >= pd.to_datetime('2019-01-01')) & (df.Date >= pd.to_datetime('2019-06-01'))].head()

,Date,Symbol,Open,High,Low,Close,Volume,Dayofweek
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday

In [ ]:
df.set_index('Date', inplace = True)

In [ ]:
df.head(3)

,Symbol,Open,High,Low,Close,Volume,Dayofweek
Date,,,,,,,
2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday

In [ ]:
df.loc['2019'].head(3)

,Symbol,Open,High,Low,Close,Volume,Dayofweek
Date,,,,,,,
2019-12-31 23:00:00,ETHUSD,128.33,128.69,128.14,128.54,440678.91,Tuesday
2019-12-31 22:00:00,ETHUSD,128.38,128.69,127.95,128.33,554646.02,Tuesday
2019-12-31 21:00:00,ETHUSD,127.86,128.43,127.72,128.38,350155.69,Tuesday

In [ ]:
df['2019'].head(3)

<ipython-input-42-96fbac88f688>:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df['2019'].head(3)

,Symbol,Open,High,Low,Close,Volume,Dayofweek
Date,,,,,,,
2019-12-31 23:00:00,ETHUSD,128.33,128.69,128.14,128.54,440678.91,Tuesday
2019-12-31 22:00:00,ETHUSD,128.38,128.69,127.95,128.33,554646.02,Tuesday
2019-12-31 21:00:00,ETHUSD,127.86,128.43,127.72,128.38,350155.69,Tuesday

In [ ]:
df.loc['2020-02':'2020-02',:].head(3)
# using indexing to filter dates... end value is inclusive in loc and i loc

,Symbol,Open,High,Low,Close,Volume,Dayofweek
Date,,,,,,,
2020-02-29 23:00:00,ETHUSD,223.35,223.58,216.83,217.31,1927939.88,Saturday
2020-02-29 22:00:00,ETHUSD,223.48,223.59,222.14,223.35,535998.57,Saturday
2020-02-29 21:00:00,ETHUSD,224.63,225.14,222.74,223.48,561158.03,Saturday

In [ ]:
df.loc['2020-01':'2020-02', 'Close'].mean()

195.1655902777778

In [ ]:
df['Month'] = df.index.strftime('%m')
df['date'] = df.index.strftime('%D')
df['dd'] = df.index.strftime('%d')
df['weekday'] = df.index.strftime('%w')
df['monthname'] = df.index.strftime('%B')
df['mnth'] = df.index.strftime('%b')

In [ ]:
df.head(3)

,Symbol,Open,High,Low,Close,Volume,Dayofweek,Month,date,dd,weekday,monthname,month,mnth
Date,,,,,,,,,,,,,,
2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday,03,03/13/20,13,5,March,Mar,Mar
2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday,03,03/13/20,13,5,March,Mar,Mar
2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday,03,03/13/20,13,5,March,Mar,Mar

In [ ]:
df.groupby(by='mnth')[['Close', 'Volume']].agg(['mean', 'median']).value_counts(normalize=True)

(Close, mean)  (Close, median)  (Volume, mean)  (Volume, median)
230.543831     202.015          7.723966e+05    467418.345          0.083333
232.357204     189.660          1.421273e+06    670651.145          0.083333
236.831750     219.625          1.491084e+06    899550.905          0.083333
273.748548     280.490          1.337391e+06    818612.005          0.083333
291.515273     141.620          2.776320e+06    763048.775          0.083333
310.580099     269.270          1.652707e+06    1020226.140         0.083333
340.507514     273.665          1.769246e+06    1121540.770         0.083333
352.678219     221.800          1.737622e+06    984964.160          0.083333
396.785771     381.220          1.860001e+06    1224748.475         0.083333
409.606907     237.945          2.838420e+06    1319579.830         0.083333
447.119173     399.205          2.641050e+06    1914591.490         0.083333
455.397236     160.645          3.885852e+06    753079.715          0.083333
dtype: float64

In [ ]:
df.groupby(by='mnth')[['Close', 'Volume']].agg(['mean', 'median']).sort_values(by = [('Close', 'mean'), ('Volume', 'median')], ascending = [False, True])

           Close                 Volume
            mean   median          mean       median
mnth
Jan   455.397236  160.645  3.885852e+06   753079.715
May   447.119173  399.205  2.641050e+06  1914591.490
Feb   409.606907  237.945  2.838420e+06  1319579.830
Jun   396.785771  381.220  1.860001e+06  1224748.475
Mar   352.678219  221.800  1.737622e+06   984964.160
Apr   340.507514  273.665  1.769246e+06  1121540.770
Jul   310.580099  269.270  1.652707e+06  1020226.140
Dec   291.515273  141.620  2.776320e+06   763048.775
Aug   273.748548  280.490  1.337391e+06   818612.005
Sep   236.831750  219.625  1.491084e+06   899550.905
Nov   232.357204  189.660  1.421273e+06   670651.145
Oct   230.543831  202.015  7.723966e+05   467418.345

In [ ]:
df['2020-01-01']['High'].head(3)

<ipython-input-106-093ecea5982e>:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df['2020-01-01']['High'].head(3)

Date
2020-01-01 23:00:00    130.27
2020-01-01 22:00:00    131.41
2020-01-01 21:00:00    131.99
Name: High, dtype: float64

In [ ]:
df['2020-01-01']['High'].max()

<ipython-input-107-9aa11c9125b5>:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df['2020-01-01']['High'].max()

132.68

In [ ]:
df.High.resample('D').max()
# resample will help create period out of a datetime column

Date
2017-07-01    279.99
2017-07-02    293.73
2017-07-03    285.00
2017-07-04    282.83
2017-07-05    274.97
               ...
2020-03-09    208.65
2020-03-10    206.28
2020-03-11    202.98
2020-03-12    195.64
2020-03-13    148.00
Freq: D, Name: High, Length: 987, dtype: float64

In [ ]:
highs = df.High.resample('D').max()
highs['2020-01-01']

132.68

In [ ]:
df.resample('W').mean().head(3)

                  Open        High         Low       Close        Volume
Date
2017-07-02  268.066486  271.124595  264.819730  268.202162  2.185035e+06
2017-07-09  261.337024  262.872917  259.186190  261.062083  1.337349e+06
2017-07-16  196.193214  199.204405  192.722321  195.698393  2.986756e+06

In [ ]:
df.resample('W').agg({'Close': 'mean', 'High': 'median', 'Volume': 'sum', 'Low': 'min'})
#using agg on df can take dictionary as arguement with col name and the aggregate function as key value pairs

NameError: name 'df' is not defined